/* content classes */
.section-title-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
}

.section-title-sub-content {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 400px;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  padding-top: 30px;
  /* flex-wrap: wrap; */
  margin: auto;
  max-width: 1500px;
}

.section-content .content-box {
  padding: 25px;
}

.section-content .content-box p {
  font-family: quasimoda, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #212121;
}

.button-box {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}

/* button styles */

.primary-button {
  background-color: #f26c4f;
  color: white;
  border: solid 1px;
  border-color: #f26c4f;
  border-radius: 50px;
  padding: 9px;
  width: 145px;
  font-family: quasimoda, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
}


/* about Duval section */
#about-duval {
  background-color: #5e8497;
}

#about-duval .section-title-content h2 {
  font-family: quasimoda, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #212121;
  margin-bottom: 48px;
  font-size: 52px;
}

#about-duval .section-title-content p {
  font-family: 'Source Serif Pro', serif;
  color: #212121;
  font-size: 22px;
}

/* services Duval section */

#services-duval {
  background-color: #212121;
}

#services-duval .section-title-content h2 {
  font-family: quasimoda, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #666973;
  margin-bottom: 48px;
  font-size: 52px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 500px;
}

#services-duval .section-title-content p {
  font-family: 'Source Serif Pro', serif;
  color: #666973;
  font-size: 22px;
}

.service-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
}

.service-container .pad {
  padding: 25px;
}

.service-box {
  background-color: #363636;
  max-width: 428px;
  height: 428px;
  text-align: center;
  border: #212121;
  border-style: solid;
  border-radius: 50%;
}

.service-box .service-text {
  max-height: 300px;
  width: 100%;
  top: 10px;
  padding-top: 42px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  position: relative;
}

.service-text .service-title-text {
  font-family: quasimoda, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 3.5px;
  padding-bottom: 15px;
}

.service-box .service-text .service-icon {
  padding-bottom: 15px;
}

.service-box .service-sub-text{
  font-family: 'Source Serif Pro', serif;
  color: #ffffff;
}


@media only screen and (max-width: 508px) {
  .service-container .pad {
    padding: 0px;
  }

  .service-box {
    background-color: #363636;
    max-width: 306px;
    height: 342px;
    text-align: center;
    border: #212121;
    border-style: solid;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .service-box .service-text {
    /* height: 300px; */
    /* width: 100%; */
    /* top: 6px; */
    padding-top: 27px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 36px;
    position: relative;
    /* flex-shrink: 1; */
  }
  .service-text .service-title-text {
    font-family: quasimoda, sans-serif;
    font-weight: 600;
    font-style: normal;
    /* font-size: 12px; */
    font-size: 1vh;
    color: #ffffff;
    letter-spacing: 3.5px;
    padding-bottom: 15px;
  }
  .service-box .service-text .service-icon {
    padding-bottom: 5px;
  }
  .service-box .service-sub-text {
    font-family: 'Source Serif Pro', serif;
    color: #ffffff;
    font-size: 1vh;
  }


}

@media only screen and (max-width: 950px) {
  .service-container {
    flex-wrap: wrap;
  }
}

.slide-controls {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.slide-controls i {
  padding: 20px;
}

@media only screen and (max-width: 950px) {
  .slide-to-hide {
    display: none;
  }
}

@media only screen and (min-width: 951px) {
  .slide-controls {
    display: none;
  }
}

#get-in-touch {
  background-color: #5e8497;
}

.get-in-touch-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 30px;
}

.get-in-touch-box .content-column {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 60px;
}

.content-column img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.content-column-1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 389px;
}

.content-column-1 h2 {
  font-family: quasimoda, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 52px;
  color: #232323;
}

.content-column-1 p {
  font-family: 'Source Serif Pro', serif;
  color: #000000;
  margin-bottom: 15px;
}

@media only screen and (max-width: 900px) {
  .get-in-touch-box {
    flex-wrap: wrap;
  }
}

#see-more {
  background-color: #212121;
}

.see-more-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 30px;
  flex-direction: row-reverse;
}

.see-more-box .content-column {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 60px;
}

.content-column-2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 560px;
}

.content-column-2 h2 {
  font-family: quasimoda, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 52px;
  color: #666973;
}

.content-column-2 p {
  font-family: 'Source Serif Pro', serif;
  color: #ffffff;
  margin-bottom: 15px;
}

@media only screen and (max-width: 900px) {
  .see-more-box {
    flex-wrap: wrap;
  }
}

#learn-more {
  background-image: url(./img/jacksonville-beach.png);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#learn-more .pattern-over-lay{
  background-image: linear-gradient(0deg, rgba(53,107,106,0.9220063025210083) 0%, rgba(155,126,95,0.8239670868347339) 100%), url(./img/shape-overlay.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  max-width: 100%; 
}

.section-title-content#title-text h2{
  font-family: quasimoda, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 52px;
  color: #ffffff;
  margin-bottom: 20%;
}

.section-title-sub-content#sub-text p{
  font-family: 'Source Serif Pro', serif;
  color: #ffffff;
  font-size: 19px;
}


/*  */

#what-we-deliver {
  background-color: #212121;
  height: 700px;
}

.what-we-do-section-banner {
  background-image: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(255,255,255,0) 60%), url(./img/duval-what-we-do-banner.png);
  background-position: center -110px;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 59%;
  max-width: 100%;
  object-fit: cover;
}

